body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
         
}
/* background: #1D4350;  
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  
background: linear-gradient(to right, #A43931, #1D4350);  */
